body {
    display: flex;
justify-content: center;
align-items: center;
margin: 0px;
 
    
    }
.gg
{
    font-size: 20px;
    color: black;
    text-align: center;


}
#loginButton
{
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    width: 100px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px #388E3C;;
    transition: all 0.2 ease;


}

#signin
{
    background-color: #4CAF50;
    color: white;
     font-size: 20px;
     margin-left: 10px;
       cursor: pointer;
border: none;
border-radius: 7px;
box-shadow: 0 4px #388E3C;
transition:  all 0.2 ease;
width: 100px;
}

#loginButton:hover 
{
background-color: darkred;
color: white;
}

#signin:hover
{
    background-color: darkred;
    color: white;
}
body
{
    background-color: lightgreen;
    margin: 0;
    padding: 20px;
}

.container
{
background-color: white;
border: 150px solid white;
border-radius: 15px;
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
input[type="text"], input[type="password"] 
{
width: 100%;
padding: 10px;
margin: 0;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
font-size: 15px;

}
input::placeholder
{
    color: #999;
    opacity: 1;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}
